<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.sensorview.Mapper.Excel.ExcelMapper">
    <select id="testDbList" resultType="mes.sensorview.mesScm.Standard.DTO.sysBPart">
        SELECT * FROM SYS_BPART_CD
    </select>
</mapper>


