<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.sensorview.Mapper.mesSCM.Order.OrderMapper">
    <select id="scmReqOrderGet" resultType="mes.sensorview.mesScm.Order.DTO.SCM_REQ_ORD">
        EXEC SP_SCM_REQ_ORD_GET #{site_code},#{page},#{rows},#{start_date},#{end_date}
    </select>

    <select id="scmOrderListGet" resultType="mes.sensorview.mesScm.Order.DTO.SCM_IN_ORD_SUB">
        EXEC SP_SCM_IN_ORD_SUB_DATE_GET #{site_code},#{page},#{rows},#{start_date},#{end_date},#{keyword}
    </select>

    <select id="scmOrderSubGet" resultType="mes.sensorview.mesScm.Order.DTO.SCM_IN_ORD_SUB">
        EXEC SP_SCM_IN_ORD_SUB_DATE_GET #{site_code},#{page},#{rows},#{start_date},#{end_date},#{keyword}
    </select>

    <select id="scmOrderGet" resultType="mes.sensorview.mesScm.Order.DTO.SCM_IN_ORD">
        EXEC SP_SCM_IN_ORD_GET #{site_code},#{page},#{rows},#{start_date},#{end_date},'',#{keyword},#{keyword2}
    </select>

    <select id="scmOrderAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SCM_IN_ORD_ADD #{site_code},#{work_date}, #{keyword},#{keyword2}, #{keyword3}, #{keyword4}, #{keyword5}, #{keyword6}, #{keyword7}, #{keyword8}, #{user_code}
    </select>

    <select id="scmOrderDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
        	EXEC SP_SCM_IN_ORD_DEL #{site_code},#{keyword}
    </select>


</mapper>
