<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.sensorview.Mapper.mesManager.Master.MasterMapper">

    <select id="sysCommonDutyGet" resultType="mes.sensorview.mesManager.Master.DTO.SYSCommon">
        	SELECT * from sys_common_cd
        	WHERE SITE_CODE = #{site_code} AND CODE_TYPE = 'DUTY'
    </select>

    <select id="sysCommonGet" resultType="mes.sensorview.mesManager.Master.DTO.SYSCommon">
            EXEC SP_SYS_COMMON_GET #{site_code},#{page},#{rows},#{keyword},''
    </select>

    <select id="getCommonGroup" resultType="mes.sensorview.mesManager.Master.DTO.SYSCommon">
            EXEC SP_SYS_COMMON_GROUP_GET #{site_code}
    </select>
</mapper>


