<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.sensorview.Mapper.mesManager.Master.MasterMapper">
    <select id="sysProdLineGet" resultType="mes.sensorview.mesManager.Master.DTO.SYSProdLine">
    	EXEC SP_SYS_LINE_GET #{site_code},#{page}, #{rows}, ''
    </select>
    <select id="sysProdLineAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
    	EXEC SP_SYS_LINE_ADD #{site_code},#{dept_code},#{line_code},#{line_name},#{user_code},#{keyword}
    </select>
    <select id="sysProdLineDelete" resultType="mes.sensorview.Common.DataTransferObject.Message">
    	EXEC SP_SYS_LINE_DEL #{site_code},#{keyword}
    </select>

</mapper>


