<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.sensorview.Mapper.mesQms.Import.QmsImportMapper">
    <select id="qmsRecvGet" resultType="mes.sensorview.mesQms.Import.DTO.QMS_RECV">
            EXEC [SP_QMS_PROD_GET] #{site_code}, #{page}, #{rows}, #{start_date}, #{end_date} ,'0' ,''
    </select>
    <select id="qmsRecvSubGet" resultType="mes.sensorview.mesQms.Import.DTO.QMS_RECV_SUB">
            EXEC [SP_QMS_RECV_SUB_GET] #{site_code}, #{page}, #{rows}, #{keyword}
    </select>
    <select id="qmsRecvErrorManGet" resultType="mes.sensorview.mesQms.Import.DTO.QMS_RECV_SUB">
            EXEC SP_QMS_RECV_NG_GET #{site_code}, #{page}, #{rows}, #{start_date}, #{end_date},#{keyword}
    </select>
    <select id="qmsRecvAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_QMS_RECV_INSP_ADD #{site_code},#{user_code},#{in_no}, #{keyword}
    </select>
    <select id="qmsRecvFileAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_QMS_RECV_INSP_FILE1_ADD #{site_code}, #{keyword}
    </select>
</mapper>
