<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.sensorview.Mapper.mesPop.Standard.MesPopMapper">
    <select id="popBcrFormGet" resultType="mes.sensorview.mesPop.Standard.DTO.POP_BCR_FORM">
        EXEC SP_SYS_BCR_FORM_GET #{site_code},#{page},#{rows},''
    </select>

    <select id="popBcrFormOneGet" resultType="mes.sensorview.mesPop.Standard.DTO.POP_BCR_FORM">
        EXEC SP_SYS_BCR_FORM_GET #{site_code},1,1,#{keyword}
    </select>

    <select id="popBcrFormAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SYS_BCR_FORM_ADD #{site_code},#{bcr_form_code},#{bcr_form_name},#{bcr_contents},#{user_code},#{remark},#{keyword}
    </select>

    <select id="popBcrFormDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SYS_BCR_FORM_DEL #{site_code},#{keyword}
    </select>

    <select id="popRouteGet" resultType="mes.sensorview.mesPop.Standard.DTO.POP_ROUTE_CD">
        EXEC SP_POP_ROUTE_GET #{site_code},#{page},#{rows},''
    </select>

    <select id="popRouteOneGet" resultType="mes.sensorview.mesPop.Standard.DTO.POP_ROUTE_CD">
        EXEC SP_POP_ROUTE_GET #{site_code},1,1,#{keyword}
    </select>

    <select id="popRouteAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_POP_ROUTE_ADD #{site_code},#{route_code},#{route_name},#{line_code1},#{line_code2},#{line_code3},#{line_code4},#{line_code5},#{remark},#{user_code},#{keyword}
    </select>

    <select id="popRouteDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_POP_ROUTE_DEL #{site_code},#{keyword}
    </select>

    <select id="popTerminalGet" resultType="mes.sensorview.mesPop.Standard.DTO.POP_TERMINAL_CD">
        EXEC SP_POP_TERMINAL_GET #{site_code},#{page},#{rows},''
    </select>
    <select id="popTerminalOneGet" resultType="mes.sensorview.mesPop.Standard.DTO.POP_TERMINAL_CD">
        EXEC SP_POP_TERMINAL_GET #{site_code},1,1,#{keyword}
    </select>

    <select id="popTerminalAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_POP_TERMINAL_ADD #{site_code},#{terminal_code},#{terminal_name},#{pc_code},#{screen_x},#{screen_y},#{bcr_form_code},#{port_scan},#{port_print},#{port_prod},#{port_test},#{port_1},#{port_2},#{user_code},#{keyword}
    </select>

</mapper>