<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.sensorview.Mapper.mesPop.Standard.MesPopMapper">
    <select id="popBcrFormGet" resultType="mes.sensorview.mesPop.Standard.DTO.POP_BCR_FORM">
        EXEC SP_SYS_BCR_FORM_GET #{site_code},#{page},#{rows},''
    </select>

    <select id="popBcrFormOneGet" resultType="mes.sensorview.mesPop.Standard.DTO.POP_BCR_FORM">
        EXEC SP_SYS_BCR_FORM_GET #{site_code},1,1,#{keyword}
    </select>

    <select id="popBcrFormAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SYS_BCR_FORM_ADD #{site_code},#{bcr_form_code},#{bcr_form_name},#{bcr_contents},#{user_code},#{remark},#{keyword}
    </select>

    <select id="popBcrFormDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SYS_BCR_FORM_DEL #{site_code},#{keyword}
    </select>

    <select id="popRouteGet" resultType="mes.sensorview.mesPop.Standard.DTO.POP_ROUTE_CD">
        EXEC SP_POP_ROUTE_GET #{site_code},#{page},#{rows},'',#{keyword}
    </select>

    <select id="popRouteOneGet" resultType="mes.sensorview.mesPop.Standard.DTO.POP_ROUTE_CD">
        EXEC SP_POP_ROUTE_GET #{site_code},1,1,#{keyword},''
    </select>

    <select id="popRouteAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_POP_ROUTE_ADD #{site_code},#{route_code},#{route_type},#{route_name},#{line_code1},#{line_code2},#{line_code3},#{line_code4},#{line_code5},#{line_code6},#{line_code7},#{line_code8},#{remark},#{user_code},#{keyword}
    </select>

    <select id="popRouteDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_POP_ROUTE_DEL #{site_code},#{keyword}
    </select>

    <select id="popLineUserGet" resultType="mes.sensorview.mesPop.Standard.DTO.POP_LINE_USER_CD">
        EXEC SP_POP_LINE_USER_GET #{site_code},#{page},#{rows},#{keyword}
    </select>

    <select id="popLineUserAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_POP_LINE_USER_ADD #{site_code},#{line_code},#{keyword},#{user_code}
    </select>

    <select id="popLineUserDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_POP_LINE_USER_DEL #{site_code},#{line_code},#{keyword}
    </select>
</mapper>