<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.sensorview.Mapper.Various.VariousMapper">
    <select id="sysSuppGet" resultType="mes.sensorview.Common.Various.DTO.SYSSupp">
		EXEC [SP_SYS_SUPP_GET]  #{page},#{rows},#{keyword},#{keyword2}
   </select>
    <select id="sysBPartGroupSelectGet" resultType="mes.sensorview.mesScm.Standard.DTO.sysBPartGroup">
		EXEC [SP_SYS_BPART_GROUP_GET] #{site_code}, 0,0,#{keyword},''
   </select>
    <select id="sysLocAllGet" resultType="mes.sensorview.mesScm.Standard.DTO.sysLoc">
		EXEC [SP_SYS_LOC_GET]  #{site_code},0,0,'',''
   </select>
    <select id="sysCommonUnitGet" resultType="mes.sensorview.mesManager.Master.DTO.SYSCommon">
		EXEC [SP_SYS_COMMON_GET]  #{site_code},0,0,'UNIT',''
   </select>
    <select id="sysBPartModalGet" resultType="mes.sensorview.mesScm.Standard.DTO.sysBPart">
        EXEC SP_SYS_BPART_GET #{site_code},#{page}, #{rows},'', #{keyword2}, '',#{keyword}
    </select>

    <select id="sysBPartAllGet" resultType="mes.sensorview.mesScm.Standard.DTO.sysBPart">
        EXEC SP_SYS_BPART_GET #{site_code},#{page}, #{rows},#{keyword}, #{keyword2}, '',''
    </select>

    <select id="sysCommonAllGet" resultType="mes.sensorview.mesManager.Master.DTO.SYSCommon">
        EXEC SP_SYS_COMMON_GET #{site_code},#{page}, #{rows},#{keyword}, ''
    </select>
    <select id="sysPartTypeGet" resultType="mes.sensorview.Common.Various.DTO.SYSPartType">
        EXEC SP_SYS_PART_TYPE_GET #{site_code},#{keyword},''
    </select>
    <select id="sysPartTypeOneGet" resultType="mes.sensorview.Common.Various.DTO.SYSPartType">
        EXEC SP_SYS_PART_TYPE_GET #{site_code},#{keyword},#{keyword2}
    </select>
    <select id="qmsQcItemAllGet" resultType="mes.sensorview.mesQms.Standard.DTO.SYS_QC_ITEM">
        EXEC SP_SYS_QC_ITEM_GET #{site_code},#{page},#{rows},#{keyword},#{keyword2},''
    </select>

    <select id="tpmMachineAllGet" resultType="mes.sensorview.mesTpm.Machine.DTO.TPM_MACHINE_CD">
        EXEC SP_TPM_MACHINE_GET #{site_code},0,0,#{keyword},''
    </select>

    <select id="getLine" resultType="mes.sensorview.mesManager.Master.DTO.SYSProdLine">
        EXEC SP_SYS_LINE_GET #{site_code},0,0,'D9000','';
    </select>

    <select id="tpmMachineRegItemAllGet" resultType="mes.sensorview.mesTpm.RegItem.DTO.TPM_REG_ITEM_CD">
        EXEC SP_TPM_REG_ITEM_GET #{site_code}, 0,0,'',#{keyword}
    </select>

    <select id="menuAuthGet" resultType="mes.sensorview.mesManager.Authority.DTO.SYSAuthProgram">
   		EXEC SP_SYS_AUTH_MENU_GET #{site_code}, #{keyword} ,#{user_code}
   </select>


    <select id="crmOrderModalGet" resultType="mes.sensorview.mesCrm.Crm.DTO.CRM_ORD_RECP">
		EXEC [SP_CRM_ORD_RECP_DIALOG_GET] #{site_code}, #{page},#{rows}, #{start_date},#{end_date} ,''
   </select>

    <select id="suppModalGet" resultType="mes.sensorview.mesManager.Master.DTO.SYSSupp">
        EXEC SP_SYS_SUPP_GET2 #{site_code},#{page},#{rows},#{keyword},#{keyword2}
    </select>

    <select id="sysPartGroupAllGet" resultType="mes.sensorview.mesScm.Standard.DTO.SYS_PART_GROUP">
        EXEC SP_SYS_PART_GROUP_GET #{site_code},0,0,#{keyword},#{keyword2},''
    </select>
</mapper>


