<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.sensorview.Mapper.mesCrm.Crm.CrmMapper">
    <select id="crmRecpAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
    	EXEC SP_CRM_ORD_RECP_ADD
    	#{site_code}, #{ord_no}, #{supp_code}, #{user_code}, #{work_date},
    	#{status1},#{status2}, #{status3}, #{end_date},#{end_supp_code},
    	#{part_type}, #{part_grp_code}, #{part_code}, #{work_type},#{connector1},
    	#{connector2}, #{part_length}, #{part_desc},#{qty},#{unit_type},
    	#{option1}, #{option2}, #{option3},#{remark}, #{crm_type},
    	#{delivery}, #{delivery_corp},#{delivery_price},#{sale_type}, #{price_type},
    	#{prod_type}, #{sample},#{currency_type}, #{unit_price}, #{price},
    	#{supp_ord_no},#{payment},#{supp_user_name}, #{supp_tel_no}, 'I'
    </select>

	<select id="crmProdOrderGet" resultType="mes.sensorview.mesCrm.Crm.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_GET #{site_code},#{page}, #{rows},#{start_date}, #{end_date}, ''
    </select>

	<select id="crmProdOrderOneGet" resultType="mes.sensorview.mesCrm.Crm.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_GET #{site_code},1, 1,'', '', #{ord_no}
    </select>

	<select id="crmWorkListGet" resultType="mes.sensorview.mesCrm.Crm.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_PROFIT_GET #{site_code}, #{page}, #{rows}, #{start_date}, #{keyword2} , #{keyword} ,#{keyword3},#{keyword4},#{keyword5},''
	</select>

	<select id="crmWorkListOneGet" resultType="mes.sensorview.mesCrm.Crm.DTO.CRM_ORD_RECP">
		EXEC SP_CRM_ORD_RECP_PROFIT_GET #{site_code}, 1, 1, '', '' , '' ,'','','0',#{ord_no}
	</select>
</mapper>
