<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.sensorview.Mapper.mesManager.BOM.BOMMapper">


    <select id="sysPartNameGroupGet" resultType="mes.sensorview.mesScm.Standard.DTO.SYS_COMMON2_CD">
        	EXEC SP_SYS_COMMON2_GET #{site_code},#{page}, #{rows},#{keyword},#{keyword2}
    </select>
    <select id="sysPartNameGroupOneGet" resultType="mes.sensorview.mesScm.Standard.DTO.SYS_COMMON2_CD">
        	EXEC SP_SYS_COMMON2_ONE_GET #{site_code},#{idx}
    </select>

    <select id="sysPartNameGroupAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
    	EXEC SP_SYS_COMMON2_ADD #{site_code},#{idx},#{code_value},'CODE',#{code_name1},#{code_name2},#{code_name3},#{code_name4},#{user_code},#{keyword}
    </select>

    <select id="sysPartNameGroupDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
    	EXEC SP_SYS_COMMON2_DEL #{site_code},#{keyword}
    </select>
</mapper>