<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.sensorview.Mapper.mesManager.BOM.BOMMapper">


    <select id="sysPartNameGroupGet" resultType="mes.sensorview.mesScm.Standard.DTO.SYS_COMMON2_CD">
        	EXEC SP_SYS_COMMON2_GET #{site_code},#{page}, #{rows},#{keyword},#{keyword2}
    </select>
    <select id="sysPartNameGroupOneGet" resultType="mes.sensorview.mesManager.BOM.DTO.SYS_COMMON2_CD">
        	EXEC SP_SYS_COMMON2_ONE_GET #{site_code},#{idx}
    </select>

    <select id="sysPartNameGroupAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
    	EXEC SP_SYS_COMMON2_ADD #{site_code},#{idx},#{code_value},'CODE',#{code_name1},#{code_name2},#{code_name3},#{code_name4},#{user_code},#{keyword}
    </select>

    <select id="sysPartNameGroupDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
    	EXEC SP_SYS_COMMON2_DEL #{site_code},#{keyword}
    </select>

    <select id="sysPartGet" resultType="mes.sensorview.mesManager.BOM.DTO.SYS_PART_CD">
        	EXEC SP_SYS_PART_GET #{site_code},#{page}, #{rows},#{keyword}, #{keyword2}, #{keyword3},#{keyword4},'',''
    </select>
    <select id="sysPartDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
    	EXEC SP_SYS_PART_DEL #{site_code},#{keyword}
    </select> <select id="sysPartOneGet" resultType="mes.sensorview.mesManager.BOM.DTO.SYS_PART_CD">
        	EXEC SP_SYS_PART_GET #{site_code},1, 1,'','','','',#{keyword},''
    </select>

    <select id="sysPartAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
    	EXEC SP_SYS_PART_ADD #{site_code},#{part_type},#{part_group1},#{part_group2},#{part_code},#{part_name},
    	#{spec1},#{spec2},#{material},#{maker_code},#{supp_code},#{prod_type},#{material_type},#{loc_code},
    	#{unit_code},#{lt},#{qc_level},#{max_qty},#{min_qty},#{ord_qty},#{user_code},#{keyword}
    </select>


    <select id="sysPartNameGroup2Get" resultType="mes.sensorview.mesManager.BOM.DTO.SYS_PART_GROUP2_CD">
        	EXEC SP_SYS_PART_GROUP2_GET #{site_code},#{page}, #{rows},#{keyword},#{keyword2},''
    </select>

    <select id="sysPartNameGroup2OneGet" resultType="mes.sensorview.mesManager.BOM.DTO.SYS_PART_GROUP2_CD">
        	EXEC SP_SYS_PART_GROUP2_GET #{site_code},#{page}, #{rows},#{keyword},#{keyword2},#{keyword3}
    </select>


    <select id="sysPartNameGroup2Add" resultType="mes.sensorview.Common.DataTransferObject.Message">
    	EXEC SP_SYS_PART_GROUP2_ADD #{site_code},#{part_type_code},#{part_grp_code},#{part_grp_code2},#{part_grp_name2},#{remark},#{user_code},#{keyword}
    </select>

    <select id="sysPartNameGroup2Del" resultType="mes.sensorview.Common.DataTransferObject.Message">
    	EXEC SP_SYS_PART_GROUP2_DEL #{site_code},#{keyword}
    </select>

    <select id="sysPartNameGet" resultType="mes.sensorview.mesManager.BOM.DTO.SYS_PART_NM_CD">
        EXEC SP_SYS_PART_NM_GET #{site_code},#{page},#{rows},#{keyword},#{keyword2},#{keyword3},''
    </select>

    <select id="sysPartNameOneGet" resultType="mes.sensorview.mesManager.BOM.DTO.SYS_PART_NM_CD">
        EXEC SP_SYS_PART_NM_GET #{site_code},1,1,'','','',#{keyword}
    </select>

    <select id="sysPartNameAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SYS_PART_NM_ADD #{site_code},#{part_code},#{part_type},#{part_group1},#{part_group2},#{part_name},#{series},#{center_wire},#{frequency},#{jacket},#{prod_type1},#{center_wire1},#{route_code},#{user_code},#{remark},#{keyword}
    </select>

    <select id="sysPartNameDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SYS_PART_NM_DEL #{site_code},#{keyword}
    </select>

    <select id="sysSPartAdd2" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SYS_HPART_ADD2 #{site_code},#{keyword},#{keyword2},#{keyword3},#{keyword4},#{keyword5},#{user_code}
    </select>

    <select id="sysSPartGet" resultType="mes.sensorview.mesManager.BOM.DTO.SYS_HPART_CD">
        EXEC SP_SYS_HPART_GET #{site_code},#{page},#{rows},'','','',#{keyword4}
    </select>

    <select id="sysSPartAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SYS_HPART_ADD #{site_code},#{keyword},#{user_code}
    </select>

    <select id="sysSPartDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SYS_HPART_DEL #{site_code},#{keyword}
    </select>

</mapper>