<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.sensorview.Mapper.mesQms.Shipment.QmsShipmentMapper">
    <select id="qmsProdErrorManGet" resultType="mes.sensorview.mesQms.Shipment.DTO.QMS_PROD_SUB">
            EXEC SP_QMS_PROD_NG_GET #{site_code}, #{page}, #{rows}, #{start_date}, #{end_date},'',''
    </select>

    <select id="qmsProdErrorManOneGet" resultType="mes.sensorview.mesQms.Shipment.DTO.QMS_PROD_SUB">
            EXEC SP_QMS_PROD_NG_GET #{site_code}, 1, 1, '', '',#{in_no},#{part_code}
    </select>

    <select id="qmsProdListGet" resultType="mes.sensorview.mesQms.Shipment.DTO.QMS_PROD_SUB">
        EXEC SP_QMS_PROD_SUB_DATE_GET #{site_code},#{page},#{rows},#{start_date},#{end_date},#{keyword}
    </select>

    <select id="qmsProdMRBGet" resultType="mes.sensorview.mesQms.Shipment.DTO.QMS_PROD_SUB">
            EXEC SP_QMS_PROD_MRB_GET #{site_code},#{page},#{rows},#{start_date},#{end_date},#{keyword}
    </select>

    <select id="qmsProdMRBAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_QMS_PROD_MRB_ADD #{site_code}, #{keyword}
    </select>

    <select id="qmsProdMRBCancel" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_QMS_PROD_MRB_CANCEL #{site_code}, #{keyword}
    </select>
    <select id="qmsProdGet" resultType="mes.sensorview.mesQms.Shipment.DTO.QMS_PROD">
            EXEC [SP_QMS_PROD_GET] #{site_code}, #{page}, #{rows}, #{start_date}, #{end_date} ,'0' ,''
    </select>
    <select id="qmsProdSubGet" resultType="mes.sensorview.mesQms.Shipment.DTO.QMS_PROD_SUB">
            EXEC [SP_QMS_PROD_SUB_GET] #{site_code}, #{page}, #{rows}, #{keyword}
    </select>
</mapper>