<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.sensorview.Mapper.mesQms.Standard.QmsStandardMapper">
    <select id="qmsTestStdGet" resultType="mes.sensorview.mesQms.Standard.DTO.SYS_QC_DIAMETER">
        EXEC SP_SYS_QC_DAIMETER_GET #{site_code},#{page},#{rows},#{keyword},#{keyword2}
    </select>
    <select id="qmsTestStdAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SYS_QC_DAIMETER_ADD #{site_code},#{line_code},#{code_select},#{dia1_start},#{dia1_stop},#{dia2_start},#{dia1_stop},#{user_code},#{keyword}
    </select>

    <select id="qmsQcItemGet" resultType="mes.sensorview.mesQms.Standard.DTO.SYS_QC_ITEM">
        	EXEC SP_SYS_QC_ITEM_GET #{site_code},#{page}, #{rows},#{keyword}, #{keyword2},''
    </select>
    <select id="qmsQcItemOneGet" resultType="mes.sensorview.mesQms.Standard.DTO.SYS_QC_ITEM">
        	EXEC SP_SYS_QC_ITEM_GET #{site_code},1, 1,'', '',#{qc_code}
    </select>
    <select id="qmsQcItemAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SYS_QC_ITEM_ADD #{site_code},#{qc_group}, #{qc_type},#{qc_code}, #{qc_name}, #{user_code}, #{keyword}
    </select>
    <select id="qmsQcItemDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_SYS_QC_ITEM_ADD #{site_code}, #{keyword}
    </select>
</mapper>
