<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.sensorview.Mapper.mesTpm.RegItem.RegitemMapper">
    <select id="tpmMachineRegItemGet" resultType="mes.sensorview.mesTpm.RegItem.DTO.TPM_REG_ITEM_CD">
        EXEC [SP_TPM_REG_ITEM_GET] #{site_code}, #{page}, #{rows}, '', ''
    </select>
    <select id="tpmMachineRegItemOneGet" resultType="mes.sensorview.mesTpm.RegItem.DTO.TPM_REG_ITEM_CD">
        EXEC [SP_TPM_REG_ITEM_GET] #{site_code}, 1, 1, #{keyword},''
    </select>
    <select id="tpmMachineRegItemAdd" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_TPM_REG_ITEM_ADD #{site_code},#{qc_code}, #{qc_name},#{use_yn},#{user_code},#{keyword}
    </select>
    <select id="tpmMachineRegItemDel" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_TPM_REG_ITEM_DEL #{site_code},#{keyword}
    </select>
</mapper>
