<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mes.sensorview.Mapper.mesPop.Pop.MesPopPopMapper">
    <select id="popPlan1Get" resultType="mes.sensorview.mesPop.Pop.DTO.POP_PLAN1_CD">
        EXEC SP_POP_PLAN1_GET #{site_code},#{page},#{rows},#{start_date},#{stop_date},'',#{keyword},#{keyword2},#{keyword3}
    </select>

    <select id="popPlan1Add" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_POP_PLAN1_ADD #{site_code},#{plan_date},'','',#{part_grp_code},#{part_grp_code2},#{part_code},'','',#{prod_type},#{prod_dept},#{plan_qty},'',#{end_date},'',#{user_code},#{remark},#{remark1},#{keyword}
    </select>
    <select id="popPlan2Add2" resultType="mes.sensorview.Common.DataTransferObject.Message">
        EXEC SP_POP_PLAN2_ADD2 #{site_code},#{keyword},#{user_code}
    </select>

    <select id="popPlan2Get" resultType="mes.sensorview.mesPop.Pop.DTO.POP_PLAN2_CD">
        EXEC SP_POP_PLAN2_GET #{site_code},#{page},#{rows},#{keyword}
    </select>



</mapper>